.team-social-icons i {
    margin: 5px 0;
    font-size: 1.5rem;
    color: rgb(241, 243, 246);
    cursor: pointer;
  }
  .team-social-icons i:hover {
    color: green;
  }
  .cardStyle {
    display: 'block';
    width: '30vw';
    transition-duration: 0.3s;
    height: '45vh'
}